html{
    height: 100%;
    background: linear-gradient(35deg, #ccffff, #ffcccc);  
}

body,html {
    /* color: #e4e3e3; */
    margin: 0;
    padding: 0;
    font-family: Garamond;
    /* background: linear-gradient(35deg, #ccffff, #ffcccc);   */
  }

body{
    /* background: linear-gradient(35deg, #ccffff, #ffcccc);   */
}

h1{
    font-size: 4em;
    padding: 0;
    margin: 3%;
    width: 100%;
    /* margin-bottom: 2%; */
    text-decoration: underline;
}

button{
    /* background-color: green; */
    /* border-style: none; */
    height: 40px;
    width: 80px;
    background-color: #dff0f0

}
#meat{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "emptyLeft header emptyRight" "emptyLeft buttons emptyRight" "emptyLeft box emptyRight"; 
    justify-items: center;
    align-items: center;
}

#header{
    grid-area: header;
    /* border-style: solid; */
    margin-right: 20px;
}

#options{
    grid-area: buttons;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    /* background-color: aqua; */
    /* border-style: dashed; */
}

#buttonOptions{
    display:flex;
    padding: 2%;
    justify-content: space-around;
    /* border-style: solid; */
    width: 100%;
}


#pixelSize{
    display: flex;
    margin: 2%;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}
.sliderContainer{
    width: 60%;
    /* border-style: dashed; */
    /* background-color: blue; */
}

.slider{
    width: 70%;
    /* outline: none; */
    /* height: 50px; */
}

#clearButton{
    margin: 0;
    /* height: 3%; */
}




#sketchPad{
    height: 500px;
    width: 500px;
    border-style: solid;
    border-color: black;
    grid-area: box;
    margin: 2%;
}

#sketchPadInsert{
    display: grid; 
    border-style: solid;
    width: 500px;
    height: 500px;

}

.box{
    height: 1fr;
    width: 1fr;
    background-color: white;
}

.box:hover{
    background-color: black;
}

#pixelColor{
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
}

#customColor{
    display: flex;
    justify-content: center;
    align-items: center;
}

#labels{
    display: flex;
    font-size: .8em;
    justify-content: space-around;
    position: absolute;
    width: 18%;
    margin-left: 2%;
    margin-top: 6%;
}